<h1 style="text-align: center;"> Rick And Morty </h1>

{% for episode in episodes %}
    <li><a href=episode/>Episode {{episode.getname()}}</a></li>
{% endfor %}
<img src='https://rickandmortyapi.com/api/character/avatar/207.jpeg'>