<header>
<form style="text-align: right;" action= "search.php" method="post">
    <input  type="text" name="episodes" placeholder="Search">
    <button type="submit"  >Search</button>
</form>
</header>
<a href="{{ app.request.server.HTTP_HOST }}/"> Home </a>